/*平面图*/
.tabbg1 { background:#b2b2b2;}

/*新修改平面图背景色——目前临时仅用在天津项目*/
.tabbg5 { background:#999999;}
/*8月30日 周总要求最新深色平面图背景*/
.tabbg6 { background:#8c8c8c;}

.pmmain {width:1440px; margin:0 auto; height:700px;}
.pmmain div{position:absolute; cursor:pointer;}
.pmmain div:hover { filter:alpha(opacity=80); -moz-opacity:0.8; -khtml-opacity: 0.8; opacity: 0.8; z-index:2;}
.defaultcursor {cursor:default !important;}

/*监测数据*/
/*.station_room_monitor { width:215px; height:242px; min-width:180px; background:url(../img/titlebg2.png) no-repeat; color:#fff; font-family:"微软雅黑"; position:absolute !important; left:20px; top:40px;}*/
.station_room_monitor { width:93%; height:242px; min-width:180px; color:#fff; font-family:"微软雅黑"; position:absolute !important; left:20px; top:40px;}
.station_room_monitor_top { padding:5px 20px; overflow:hidden;}
.station_room_monitor_top h2 { margin:0px; display:inline-block; font-size:55px}
.station_room_monitor_top span { display:inline-block; color:#b2b2b2; margin-left:10px; font-size:45px}
.station_room_monitor_hr{ width:100%; height:10px; background-color:#33cc33; }
.station_room_monitor_content { padding:5px 0px 0px 10px; margin-top: 10px;}
.station_room_monitor_content strong { display:inline-block; padding-bottom:5px; font-size:40px}
.station_room_monitor_content h1 { display:inline-block; margin:0px; font-size:45px; vertical-align:middle;}
.station_room_monitor_content span { display:block; color:#b2b2b2; padding-bottom:3px; font-size:40px}

.body {background:url(../img/titlebg.png) repeat;}
.station_room_monitor2 { width:100%; min-width:180px;  color:#fff; font-family:"微软雅黑"; position:absolute !important; left:20px; top:40px;}
.station_room_monitor_top2 { padding:5px 10px;}
.station_room_monitor_top2 h2 { margin:0px; font-size:55px}
.station_room_monitor_hr2{width:100%; height:10px; background-color:#f00;}
.station_room_monitor_content2 { padding:5px 0px 0px 10px;}
.station_room_monitor_content2 span { margin:10px 0px; display:block; color:#fff;}
.station_room_monitor_content2 span h4, .station_room_monitor_content2 span p { margin:0px; font-size:40px;}
.station_room_monitor_content2 span p { margin:3px 0px 0px 0px; font-size:40px;}
.station_room_monitor_content2 span b { color: #33cc33;font-size:50px;}

/*.station_bottom_j { width:13px; height:29px; background:url(../img/titlebg2_j.png) no-repeat; position:absolute; left:0px; bottom:-29px;}*/

.state_bg_1{background-color:#ffff00;}
.state_bg_2{background-color:#ff6633;}
.state_bg_3{background-color:#ff0000;}

.state_fc_0{color:#33cc33;}
.state_fc_1{color:#ffff00;}
.state_fc_2{color:#ff6633;}
.state_fc_3{color:#ff0000;}

.state_font0 { color:#82c421;font-style: normal;}
.state_font1 { color:yellow;font-style: normal;}
.state_font2 { color:#ed9700;font-style: normal;}
.state_font3 { color:#b00000;font-style: normal;}                                                                                                                                                                         

/*平面图最高温度设备定位通用样式*/
.tmax_location { position:absolute; display: block; left:50%; margin-left:-12px; background:url(../img/tmax_location.gif) no-repeat; width:24px; height:36px; z-index:3;}

/*针对配置工具*/
/*平面图柜体信息批注 统一文字样式*/
.pz_pmt { font-size:12px; text-align:center; line-height:30px; height:30px; width:80px; display:inline-block;}

/*非介入式测温平面图图表*/
.NonIntPlanChart { width:138px;  border:1px solid #bbb; left:50px; top:20px; z-index:2; background:#fff;background:rgba(255, 255, 255, 0.8);-moz-border-radius: 5px; -webkit-border-radius: 5px;  border-radius:5px;}
.NonIntPlanChart1, .NonIntPlanChart2 { width:100%; height:130px; display:block;}
.NonIntPlanChart1 { border-bottom:1px solid #bbb;}